@{
    ViewBag.Title = "用户登录";
}
<style type="text/css">
.table-detail
{
}
.table-detail th
{
	text-align: right;
	background: #F3F7F9;
	padding: 0 10px 0 150px;
	font-weight: normal;
}
input[type="text"]{
	width:250px;
	padding:5px 0;
}
</style>
<h2 class="title-h2">
	用户登录..
</h2>
<table class="table-detail">
	<tr>
		<th>用户名</th>
		<td><input type="text" /></td>
	</tr>
	<tr>
		<th>密码</th>
		<td><input type="text" /></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center;">
			<input type="button" value="登录" class="button button-rounded button-flat-primary" />
		</td>
	</tr>
</table>

