<html>
<head>
	<title>@ViewBag.Title</title>
	@RazorWidget.ViewStart()
	@{
		var error = TempData["Error"];
		var message = TempData["Message"];
	}
	<script type="text/javascript">
		var navigation = '';
		$(function () {

			/* 系统显示Error 或者 Message
			----------------------------------------------------------*/
			if ('@error' != "")
				window.top.sysAlert('@error');
			if ('@message' != "")
				window.top.sysMessage('@message');

			/* 导航菜单内容
			----------------------------------------------------------*/
			navigation = $.trim($(window.top.document).find(".menu-active").text()) + ">>" + $.trim($(window.top.document).find(".navigation").text());
			$("form").append("<input type='hidden' name='navigation' id='navigation' value='" + navigation + "' />");

			/* 初始化异步Grid
			----------------------------------------------------------*/
			commonPage.ajaxGrid();

		});

	</script>
</head>
<body>
	<div class="nav-bar">
		<a class="logo" href="/">
			<img src="/content/images/logo.png" title="社区订菜网" />
		</a>
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/tag/社区活动" target="">社区活动</a></li>
			<li><a href="/home/about" target="">关于我们</a></li>
			<li><a href="/account/register">注册</a></li>
			<li><a href="/account/login">登录</a></li>
			<li><a href="/personal">个人中心</a></li>
		</ul>
	</div>
	<div class="page">
		@RenderBody()
		<div class="clear">
		</div>
	</div>

	<div class="footer">
      <div class="footer-main">
        <div class="links">
          <a class="dark" href="/about"><strong>关于</strong></a>
          |
          <a class="dark" href="/faq"><strong>FAQ</strong></a>
          |
          <a class="dark" href="/rss" target="_blank"><strong>RSS</strong></a>
        </div>
        <div class="col_fade">
          © 2012 - 2013 <br>本网站为社区服务 ，欢迎口口相传..<br>
          由<a href="/" target="_blank"> 正能量 </a>为我们提供动力
        </div>
      </div>
    </div>
</body>
</html>
