<html>
<head>
	<title>@ViewBag.Title</title>
	@RazorWidget.ViewStart()
	@{
		var error = TempData["Error"];
		var message = TempData["Message"];
	}
	<script type="text/javascript">
		var navigation = '';
		$(function () {

			/* 系统显示Error 或者 Message
			----------------------------------------------------------*/
			if ('@error' != "")
				window.top.sysAlert('@error');
			if ('@message' != "")
				window.top.sysMessage('@message');

			/* 导航菜单内容
			----------------------------------------------------------*/
			navigation = $.trim($(window.top.document).find(".menu-active").text()) + ">>" + $.trim($(window.top.document).find(".navigation").text());
			$("form").append("<input type='hidden' name='navigation' id='navigation' value='" + navigation + "' />");

			/* 初始化异步Grid
			----------------------------------------------------------*/
			commonPage.ajaxGrid();

		});
	</script>
</head>
<body>
	<div class="nav-bar">
		<a class="logo" href="/">
			<img src="/content/images/logo.png" title="社区订菜网" />
		</a>
		<ul>
			<li><a href="/">首页</a></li>
			<li><a href="/tag/社区活动" target="">社区活动</a></li>
			<li><a href="/about" target="">关于我们</a></li>
			<li><a href="/signup">注册</a></li>
			<li><a href="/signin">登录</a></li>
		</ul>
	</div>
	<div class="page">
		@RenderBody()
		<div class="clear">
		</div>
	</div>
</body>
</html>
