/* 审批意见
----------------------------------------------------------*/
.opinion
{
	height: 245px;
	overflow: auto;
	overflow-x: hidden;
}

/* 商铺审批流程
----------------------------------------------------------*/
.businessmanChartFlow{ background:url(/images/Flow/flowBusinessman.png) 149px 50px no-repeat; position:relative;height:320px}
.businessmanChartFlow a{ display:block;width:121px;height:117px; text-decoration:none; position:relative }

/*节点1（经办人审批）*/
.businessmanChartFlow .divStep1{left:25px; top:105px;position:absolute}
.businessmanChartFlow a.aStep1{ background:url(/images/Flow/step1.png) 0 0 no-repeat;}
.businessmanChartFlow a.aStep1_Active{ background:url(/images/Flow/step1_over.gif) 0 0 no-repeat}

/*节点2（租赁部经理审批）*/
.businessmanChartFlow .divStep2{left:190px; top:105px;position:absolute}
.businessmanChartFlow a.aStep2{ background:url(/images/Flow/step2.png) 0 0 no-repeat;}
.businessmanChartFlow a.aStep2_Active{ background:url(/images/Flow/step2_over.gif) 0 0 no-repeat;}

/*节点3（计划财务部审批）*/
.businessmanChartFlow .divStep3{left:310px; top:0px;position:absolute}
.businessmanChartFlow a.aStep3{ background:url(/images/Flow/step3.png) 0 0 no-repeat;}
.businessmanChartFlow a.aStep3_Active{ background:url(/images/Flow/step3_over.gif) 0 0 no-repeat;}

/*节点4（物业管理部审批）*/
.businessmanChartFlow .divStep4{left:310px; top:200px;position:absolute}
.businessmanChartFlow a.aStep4{ background:url(/images/Flow/step4.png) 0 0 no-repeat;}
.businessmanChartFlow a.aStep4_Active{ background:url(/images/Flow/step4_over.gif) 0 0 no-repeat;}

/*节点5（财务总监审批）*/
.businessmanChartFlow .divStep5{left:445px; top:105px;position:absolute}
.businessmanChartFlow a.aStep5{ background:url(/images/Flow/step5.png) 0 0 no-repeat;}
.businessmanChartFlow a.aStep5_Active{ background:url(/images/Flow/step5_over.gif) 0 0 no-repeat;}

/*节点6（副总审批）*/
.businessmanChartFlow .divStep6{left:610px; top:105px;position:absolute}
.businessmanChartFlow a.aStep6{ background:url(/images/Flow/step6.png) 0 0 no-repeat;}
.businessmanChartFlow a.aStep6_Active{ background:url(/images/Flow/step6_over.gif) 0 0 no-repeat;}

/*节点7（总经理审批）*/
.businessmanChartFlow .divStep7{left:770px; top:105px;position:absolute}
.businessmanChartFlow a.aStep7{ background:url(/images/Flow/step7.png) 0 0 no-repeat;}
.businessmanChartFlow a.aStep7_Active{ background:url(/images/Flow/step7_over.gif) 0 0 no-repeat;}

/* 公寓审批流程
----------------------------------------------------------*/
.renterChartFlow{ background:url(/images/Flow/flowRenter.png) 149px 50px no-repeat; position:relative;height:320px}
.renterChartFlow a{ display:block;width:121px;height:117px; text-decoration:none; position:relative }

/*节点1（经办人审批）*/
.renterChartFlow .divStep1{left:25px; top:105px;position:absolute}
.renterChartFlow a.aStep1{ background:url(/images/Flow/step1.png) 0 0 no-repeat;}
.renterChartFlow a.aStep1_Active{ background:url(/images/Flow/step1_over.gif) 0 0 no-repeat}

/*节点2（租赁部经理审批）*/
.renterChartFlow .divStep2{left:190px; top:105px;position:absolute}
.renterChartFlow a.aStep2{ background:url(/images/Flow/step2.png) 0 0 no-repeat;}
.renterChartFlow a.aStep2_Active{ background:url(/images/Flow/step2_over.gif) 0 0 no-repeat;}

/*节点3（计划财务部审批）*/
.renterChartFlow .divStep3{left:310px; top:0px;position:absolute}
.renterChartFlow a.aStep3{ background:url(/images/Flow/step3.png) 0 0 no-repeat;}
.renterChartFlow a.aStep3_Active{ background:url(/images/Flow/step3_over.gif) 0 0 no-repeat;}

/*节点4（物业管理部审批）*/
.renterChartFlow .divStep4{left:310px; top:200px;position:absolute}
.renterChartFlow a.aStep4{ background:url(/images/Flow/step4.png) 0 0 no-repeat;}
.renterChartFlow a.aStep4_Active{ background:url(/images/Flow/step4_over.gif) 0 0 no-repeat;}

/*节点6（副总审批）*/
.renterChartFlow .divStep6{left:445px; top:105px;position:absolute}
.renterChartFlow a.aStep6{ background:url(/images/Flow/step6.png) 0 0 no-repeat;}
.renterChartFlow a.aStep6_Active{ background:url(/images/Flow/step6_over.gif) 0 0 no-repeat;}

/*节点7（总经理审批）*/
.renterChartFlow .divStep7{left:600px; top:105px;position:absolute}
.renterChartFlow a.aStep7{ background:url(/images/Flow/step7.png) 0 0 no-repeat;}
.renterChartFlow a.aStep7_Active{ background:url(/images/Flow/step7_over.gif) 0 0 no-repeat;}