<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="T4Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <T4Common.Properties.Settings>
            <setting name="SqlConnectionString" serializeAs="String">
                <value>Data Source=192.168.155.225;Initial Catalog=LJZGZFWeb;Persist Security Info=True;User ID=ljzgzf;Password=ljzgzf;</value>
            </setting>
            <setting name="NamespacePrefix" serializeAs="String">
                <value>CNRegex</value>
            </setting>
            <setting name="ProjectRootPath" serializeAs="String">
                <value>E:\CNRegex\</value>
            </setting>
            <setting name="DalFolder" serializeAs="String">
                <value>CNRegex.Dal</value>
            </setting>
            <setting name="BizFolder" serializeAs="String">
                <value>CNRegex.Biz</value>
            </setting>
            <setting name="EntityFolder" serializeAs="String">
                <value>CNRegex.Entity</value>
            </setting>
            <setting name="EnumFolder" serializeAs="String">
                <value>CNRegex.Enum</value>
            </setting>
            <setting name="TFSUrl" serializeAs="String">
                <value>http://ip:8080/tfs</value>
            </setting>
            <setting name="TFSName" serializeAs="String">
                <value>user name</value>
            </setting>
            <setting name="TFSPassword" serializeAs="String">
                <value>user password</value>
            </setting>
            <setting name="TFSChk" serializeAs="String">
                <value>false</value>
            </setting>
        </T4Common.Properties.Settings>
    </userSettings>
</configuration>