@{
	ViewBag.Title = "EditPassword";
	Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
<style type="text/css">
	.table-password-textbox
	{
		border: 1px solid #7F9DB9;
		width: 300px;
	}
	table th
	{
		width:110px;
	}
	.field-validation-valid
	{
		display: none;
	}
</style>
@using (Html.BeginForm("EditPassword", "SysUserManage", FormMethod.Post))
{

	<div>
		<table cellpadding="0" cellspacing="0" align="center" class="table-detail-nostyle">
			<tbody>
				<tr>
					<th>
						<span class="red">*</span>新密码：
					</th>
					<td>
						<input class="required" type="password" id="pwd1" name="password" style="width: 150px;"
							class="table-password-textbox" />
						@Html.ValidationMessage("password", "请输入密码！")
					</td>
				</tr>
				<tr>
					<th>
						<span class="red">*</span>再次输入密码：
					</th>
					<td>
						<input type="password" name="pwd2" equalto="#pwd1" style="width: 150px;"
							class="table-password-textbox" />
						@Html.ValidationMessage("pwd2", "两次密码不一致！")
					</td>
				</tr>
			</tbody>
		</table>
		<div class="center wfill">
			<input type="submit" value="保存" class="button" />
			<input type="button" value="关闭" class="button" onclick="javascript:window.parent.closeDialog();" />
		</div>
	</div>

}
