@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
<style type="text/css">
	.container-image
	{
		float: left;
	}
	.big-image img
	{
		width: 342px;
	}
	.small-image
	{
		clear: both;
	}
	.small-image ul
	{
		margin: 0;
		padding: 0;
	}
	.small-image li
	{
		text-align: center;
		list-style-type: none;
		float: left;
		width: 105px;
		height: 85px;
		border: 1px solid #89FAA0;
		margin: 5px 2px;
		padding: 2px;
	}
	.small-image li img
	{
		width: 105px;
		height: 85px;
	}
	
	.product-item-title
	{
		font-weight: bold;
		font-size: 18px;
		color: Black;
	}
	.product-item-price
	{
		font-weight: bold;
		font-size: 18px;
		color: #F57339;
	}
	.product-item-sales
	{
		color: green;
		font-weight: bold;
	}
	
	.layout-bottom
	{
		clear: both;
	}
</style>
<script type="text/javascript">
	$(function () {
		$("#tabs").tabs();
		
	});
</script>
<div class="layout-top">
	<div class="container-image">
		<div class="big-image">
			<img src="http://img.dingcai.com/images/product/9/9/list/1.jpg" />
		</div>
	</div>
	<div class="container-description">
		<table class="table-detail">
			<tr>
				<th>
					菜名：
				</th>
				<td class="product-item-title">
					红烧茄子
				</td>
			</tr>
			<tr>
				<th>
					订菜价：
				</th>
				<td class="product-item-price">
					￥9.8 / 斤
				</td>
			</tr>
			<tr>
				<th>
					购买数量：
				</th>
				<td>
					<input />
				</td>
			</tr>
			<tr>
				<th>
					库存数量：
				</th>
				<td>
					105 件
				</td>
			</tr>
			<tr>
				<th>
					人气：
				</th>
				<td>
					<em class="product-item-sales">100+</em>人订购
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<input type="button" value="加入购物车" class="button button-rounded button-flat-primary" />
				</td>
			</tr>
		</table>
	</div>
	<div class="small-image">
		<ul>
			<li>
				<img src="http://img.dingcai.com/images/product/9/9/list/1.jpg" />
			</li>
			<li>
				<img src="http://img.dingcai.com/images/product/9/9/list/2.jpg" />
			</li>
			<li>
				<img src="http://img.dingcai.com/images/product/9/9/list/3.jpg" />
			</li>
			<li>
				<img src="http://img.dingcai.com/images/product/9/9/list/3.jpg" />
			</li>
		</ul>
	</div>
</div>
<div class="layout-bottom">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">菜品详情</a></li>
			<li><a href="#tabs-2">烹饪方法</a></li>
			<li><a href="#tabs-3">用户评论</a></li>
		</ul>
		<div id="tabs-1">
			<p>
				Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec
				arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante.
				Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper
				leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales
				tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel
				pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum.
				Nunc tristique tempus lectus.</p>
		</div>
		<div id="tabs-2">
			<p>
				Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
				massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget
				luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
				aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent
				in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat
				nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
				convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod
				felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
		</div>
		<div id="tabs-3">
			<p>
				Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
				pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
				Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
				nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
				pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
				enim, pretium nec, feugiat nec, luctus a, lacus.</p>
			<p>
				Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam
				ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
				velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula
				faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero
				sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor
				ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas
				commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit
				hendrerit.</p>
		</div>
	</div>
</div>
