@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body
		{
			color: #222;
			font-size: 13px;
			font-family: sans-serif;
			background: #fff url(/images/404bg.png) left top repeat-x;
		}
		h1
		{
			font-size: 300%;
			font-family: 'Trebuchet MS' , Verdana, sans-serif;
			color: #000;
		}
		#page
		{
			font-size: 12px;
			width: 720px;
			margin: 144px auto 0 auto;
			text-align: left;
			line-height: 150%;
		}
		#message
		{
			padding-right: 350px;
			min-height: 360px;
			background: transparent url(/images/404.png) right top no-repeat;
		}
		
		a
		{
			color: #165E9E;
			border-bottom: 1px solid #165E9E;
			text-decoration:none;
		}
		
	</style>
	<link rel="shortcut icon" href="../../Content/Images/favicon.ico" type="image/x-icon" />
	<title>Error 404 – 页面不存在</title>
</head>
<body>
	<div id="page">
		<div id="message">
			<h1>
				404</h1>
			<p>
				对不起，您所访问的页面不存在或正在维护中，您可以点击下面链接返回首页：
			</p>
			<p>
				<a href="/home" title="首页">人才公寓管理系统</a>
			</p>
		</div>
	</div>
</body>
</html>
