/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html, body
{
	font-size: 12px;
	font-family: "Helvetica Neue" ,Helvetica, "Microsoft Yahei" , "Wenquanyi Micro Hei" ,Arial,sans-serif;
	color: #696969;
	background-color: White;
	margin: 0;
	padding: 0;
}

a:link
{
	color: #000;
	text-decoration: none;
}

a:visited
{
	color: #505abc;
	text-decoration: none;
}

a:hover
{
	color: #1d60ff;
	text-decoration: none;
}

a:active
{
	color: #12eb87;
	text-decoration: none;
}

p, ul
{
	margin-bottom: 20px;
	line-height: 1.6em;
}

header, footer, nav, section
{
	display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
	font-size: 1.5em;
	color: #000;
}

h1
{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2
{
	padding: 0 0 10px 0;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1.1em;
}

h5, h6
{
	font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}



/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend
{
	font-size: 1.2em;
	font-weight: bold;
}

textarea
{
	min-height: 75px;
}

input[type="text"], input[type="password"]
{
	border: 1px solid #ccc;
	padding: 2px; /*font-size: 1.2em;*/
	color: #444;
	width: 198px;
}

select
{
	border: 1px solid #ccc;
	padding: 2px; /*font-size: 1.2em;*/
	color: #444;
	width: 204px;
}

input[type="submit"]
{
}


/* MISC  
----------------------------------------------------------*/
.clear
{
	clear: both;
}
.center
{
	text-align: center;
}
.left
{
	text-align: left;
}
.right
{
	text-align: right;
}
.wfill
{
	width: 100%;
}
.hfill
{
	height: 100%; /*background:#F3F7F9;*/
}
.red
{
	color: red;
	font-weight: bold;
}
.green
{
	color: green;
	font-weight: bold;
}
.p-s1
{
	font-size: 20px;
	font-weight: bold;
	height: 15px;
	padding: 0;
	margin: 5px 0 15px 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
	color: #ff0000;
}
/* 此处已经被更改,原为display:none , 更改原因,显示默认提示 */
.field-validation-valid
{
}
.field-validation-message
{
	color: #B1B1B1;
	font-size: 14px;
	font-style: italic;
}
.field-validation-checked
{
	background: url("/content/images/checked.gif") no-repeat scroll 0 0 transparent;
	padding-left: 16px;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
	margin: 1em 0 0 0;
}

.display-field, .editor-field
{
	margin: 0.5em 0 0 0;
}

.text-box
{
	width: 30em;
}

.text-box.multi-line
{
	height: 6.5em;
}

.tri-state
{
	width: 6em;
}

.nav-bar
{
	background-color: #f1f1f1;
	width: 100%;
	height: 32px;
	padding: 5px 0;
	font-weight: 700;
	font-size: 14px;
	color: hsl(210,27%,30%);
	border-bottom: 1px solid #c3c3c3;
}
.nav-bar ul
{
	margin: 0;
	padding: 0;
	float: right;
}
.nav-bar ul li
{
	list-style-type: none;
	float: left;
	margin: 0 20px 0 0;
	line-height: 32px;
}

.logo
{
	margin: 0 0 0 100px;
	float: left;
}

.logo img
{
	width: 32px;
	height: 32px;
}

h2
{
	padding: 0 0 10px 0;
}

.title-h2
{
	border-bottom: 1px solid #696969;
}

.category-title
{
	padding: 0px 10px 3px 22px;
	margin: 4px 0 10px 0;
	font-size: 1.4em;
	color: black;
	background: url("/content/images/category.png") no-repeat scroll 0 0 transparent;
	border-bottom: 1px dotted #333333;
}

.category-content
{
	margin: 0 0 0 5px;
	padding: 0px;
}
.category-content li
{
	list-style-type: none;
	padding: 3px;
	font-size: larger;
	color: #5095be;
	background: url("/content/images/dot.gif") no-repeat scroll 0 0.5em transparent;
}
.category-content li a
{
	color: Blue;
	text-decoration: none;
	padding: 3px 15px;
}
.category-content li a:active
{
	color: #5095BE;
}

.category-content li a:hover
{
	text-decoration: underline;
}

.category-content li em
{
	display: block;
	padding: 5px 10px 5px 20px;
	color: #333333;
	font-size: 14px;
}

.module
{
}

.module-title
{
	padding: 0px 10px 3px 22px;
	margin: 4px 0 10px 0;
	font-size: 1.4em;
	color: black;
	background: url("/content/images/cart.png") no-repeat scroll 0 0 transparent;
	border-bottom: 1px dotted #333333;
}
.module-content
{
	margin: 0 0 0 5px;
	padding: 0px;
}
.module-content li
{
	list-style-type: decimal;
	list-style-position: inside;
	padding: 3px;
	font-size: larger;
	color: #5095be;
}

.footer
{
	height: 120px;
	clear: both;
	background: hsla(0,100%,100%,1);
	position: relative;
	box-shadow: 0 -1px 0 hsl(0,0%,90%);
	margin-top: 8px;
}

.footer-main
{
	width: 1040px;
	margin: 0 auto;
	color: hsl(0,0%,67%);
	padding: 20px 0;
}

.table-detail
{
}
.table-detail tr
{
	height: 45px;
}
.table-detail th
{
	text-align: right;
	background: #F3F7F9;
	padding: 0 0 0 10px;
	font-weight: normal;
}

