@{
	ViewBag.Title = "密码修改";
	Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
<style type="text/css">
	.table-password-textbox
	{
		border: 1px solid #7F9DB9;
		width: 300px;
	}
	table th
	{
		width:110px;
	}
	.fontbold{ color:#18577D; }
	.field-validation-valid
	{
		display: none;
	}
</style>

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{

	<div>
		<table cellpadding="0" cellspacing="0" align="center" class="table-detail-nostyle">
			<tbody>
            <tr><td ><span class="fontbold">原密码</span></td></tr>
                <tr>
					
					<td>
						<input class="required" type="password" id="oldPW" name="oldPW" style="width: 150px;"
							class="table-password-textbox" />
						@Html.ValidationMessage("oldPW", "请输入原密码！")
					</td>
				</tr>
                   <tr><td><span class="fontbold">新密码</span></td></tr>
				<tr>
					
					<td>
						<input class="required" type="password" id="newPW" name="newPW" style="width: 150px;"
							class="table-password-textbox" />
						@Html.ValidationMessage("newPW", "请输入新密码！")
					</td>
				</tr>
                   <tr><td><span class="fontbold">确认密码</span></td></tr>
				<tr>
					
					<td>
						<input type="password" name="confirmNewPW"name="confirmNewPW" style="width: 150px;"
							class="table-password-textbox" />
						@Html.ValidationMessage("confirmNewPW", "两次密码不一致！")
					</td>
				</tr>
			</tbody>
		</table>
		<div class="center wfill">
			<input type="submit" value="保存" class="button"/>
			<input type="button" value="关闭" class="button" onclick="javascript:window.parent.closeDialog();" />
		</div>
	</div>

}
